<h1>Subscription</h1>
<p>Start Date: <%= @subscription.startDate %></p>
<p>End Date: <%= @subscription.endDate %></p>
<p>Channel: <%= @subscription.channel.channelName %></p>
<%= link_to 'Edit', edit_user_subscription_path(@subscription.user, @subscription) %>