<div id="<%= dom_id report %>">
  <p>
    <strong>Reporttype:</strong>
    <%= report.reportType %>
  </p>

  <p>
    <strong>Generateddate:</strong>
    <%= report.generatedDate %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= report.content %>
  </p>

</div>
